/* Day background */
#body{
    width:100%;
    height:100vh;
}
.day-background {
   
  background-color:#333533;
    
  }
  
  /* Night background */
  .night-background {
    background-color:#333533
   
    
   
  }
  